<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Question Forum Notifications</h4>
      </div>
      <div class="card-body">

        <div  class="alert alert-info" *ngFor="let notification of notifications"   (click)="naviagateToQA(notification.mobile_userkey)"  >
          <span class="close" (click)="closeNotification(notification.$keyname)">x</span>
          <h6 class="card-title" style="color: #0c2646">Disaster Alerts</h6>
          <span>{{notification.message}}</span>
          <!--<a class="close" routerLinkActive="active" routerLink="questionforum" name="QuestionForum" style="color: #2A2845" >></a>-->

        </div>

      </div>
    </div>
  </div>

  </div>
