<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form #formdata = "ngForm" (ngSubmit)="updateAdminDetails(formdata)">
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company (disabled)</label>
                <input  type="text" class="form-control" disabled placeholder="Company"  [(ngModel)]="attach_company" name="attach_company">
              </div>
            </div>
            <div class="col-md-3 px-1" >
              <div class="form-group">
                <label>Position</label>
                <input required="required" type="text" class="form-control" placeholder="Username" [(ngModel)]="position" name="position">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label >Email address (disabled)</label>
                <input type="email" class="form-control" disabled placeholder="Email" [(ngModel)]="email" name="email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input required="required" type="text" class="form-control" placeholder="Company" [(ngModel)]="first_name" name="first_name">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input required="required" type="text" class="form-control" placeholder="Last Name" [(ngModel)]="last_name" name="last_name">
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-3 px-1">
              <div class="form-group">
                <button    [disabled] = !formdata.valid type="submit"class="form-control" value="michael23" style="background-color: #3C4858; color: #FFFFFF;margin-left: 580px;margin-top: 20px">SAVE</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4" >
    <div class="card card-user" >
      <div class="image">
        <!--<img src= alt="...">-->
      </div>
      <div class="card-body" *ngFor="let admin of admin_detail"><!--ng-controller= "user"-->

        <h1></h1>
        <div class="author"  >
          <a href="#">
            <img class="avatar border-gray" src="../../../assets/img/userimage.jpg" alt="...">
            <h5 class="title">{{admin.first_name + ' '+ admin.last_name}}</h5>
          </a>
          <p class="description" >
            {{admin.position}}
          </p>
        </div>

        <p class="description text-center">
          {{admin.attach_company}}
        </p>
      </div>
      <hr>
      <div class="button-container">
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-twitter"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-google-plus-g"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="card-header">
              <h5 class="title">Change Password</h5>
            </div>
          </div>
          <form #pwdData="ngForm" (ngSubmit)="changePwd(pwdData)">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Old Password</label>
                <input required="required" type="password" class="form-control" style="font-weight: bold" (ngModel)="oldPwd" name="oldPwd">
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>New Password</label>
                <input required="required" type="password" class="form-control" style="font-weight: bold" (ngModel)="newPwd" name="newPwd">
                <input type="text"  disabled style="color: #798eff ;background-color: #FFFFFF; border: #FFFFFF; border-radius: 0px;width: 800px; font-family:'Nucleo Outline'" value="*please enter eight charcater password (allow characters - [a-z,A-Z,0-9])">
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Confirm Password</label>
                <input required="required" type="password" class="form-control" style="font-weight: bold" (ngModel)="conPwd" name="conPwd">
                </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <button type="submit"  class="form-control"  style="background-color: #82a6d5; color: #FFFFFF;margin-left: 580px;margin-top: 20px" [disabled]=!pwdData.valid>SAVE</button>
              </div>
            </div>
            <div class="col-md-6 pr-1" >
              <div class="form-group" >
                <input type="text" [(ngModel)]="errorMsg" name="errorMsg" disabled style="font-weight: bold; color: red ;background-color: #FFFFFF; border: #FFFFFF; border-radius: 0px;width: 800px">
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
