<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<div class="wrapper ">

  <div class="sidebar" data-color="orange">
    <div class="logo" style="text-align: center; font-weight: bold">MENU</div>

    <div class="sidebar-wrapper">

      <ul class="nav">
        <li >
          <a appHighlight routerLink="userprofile" style="text-align: center" name="UserProfile">
            <p>User Profile</p>
          </a>
        </li>

        <li>
          <a appHighlight routerLink="updateuser" style="text-align: center" name="updateuser" >
            <p>Update User</p>
          </a>
        </li>

        <li >
          <a appHighlight routerLink="map" style="text-align: center" name="Maps">
            <p>Maps</p>
          </a>
        </li>

        <li >
          <a appHighlight routerLink="notification" style="text-align: center" name="Notifications" >
            <p>Notifications</p>
          </a>
        </li>

        <li >
          <a appHighlight  routerLink="questionforum" style="text-align: center" name="QuestionForum" >
            <p>Question Forum</p>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>

          <button (click)="showModal()" style="margin-left: 1150px;margin-top: 40px;color: white;background-color: #2a5788;border-radius:
          0px;border: #2a5788">LogOut</button>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->




    <div class="panel-header panel-header-sm"></div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a href="#" data-toggle="dropdown">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="header-title"> Sidebar Background</li>
      <li class="adjustments-line">
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors text-center">
            <span class="badge filter badge-yellow" data-color="yellow"></span>
            <span class="badge filter badge-blue" data-color="blue"></span>
            <span class="badge filter badge-green" data-color="green"></span>
            <span class="badge filter badge-orange active" data-color="orange"></span>
            <span class="badge filter badge-red" data-color="red"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>




      <li class="button-container">
        <a href="https://www.creative-tim.com/product/now-ui-dashboard" target="_blank" class="btn btn-primary btn-block btn-round">Download Now</a>
        <a href="http://demos.creative-tim.com/now-ui-dashboard/docs/1.0/getting-started/introduction.html" target="_blank" class="btn btn-info btn-block btn-round">
          <i class="now-ui-icons files_single-copy-04"></i>
          Documentation
        </a>
      </li>


      <li class="header-title">Thank you for 95 shares!</li>

      <li class="button-container text-center">
        <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot; 45</button>
        <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot; 50</button>
        <br>
        <br>
        <a class="github-button" href="https://github.com/creativetimofficial/now-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
      </li>
    </ul>
  </div>
</div>
<!-- The LogOutModal -->
<div id="myModalDelete" class="modal" #modallogout>
  <div class="modal-content">
    <form #logoutData="ngForm" (ngSubmit)="logout(logoutData)">
      <span class="close"  (click)="closeModallogout(logoutData)">&times;</span>
      <div class="col-md-6 pr-1">
        <div class="form-group">
          <label>Do you want to logout?</label>
        </div>
      </div>
      <div class="col-md-6" style="display: inline">
        <div class="col-md-2 px-1" style="float: right;">
          <div class="form-group">
            <button type="submit"   class="btn btn-danger"  >Yes</button>
          </div>
        </div>
        <div class="col-md-2 px-1" style="float: right">
          <div class="form-group">
            <button type="button" (click)="closeModalDelete()"    class="btn btn-info" >No</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>



