
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Question And Answer List
                <p class="category">Click to view particular chat</p>
              </h4>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Question Forum User List</h4>
                  </div>
                  <div class="card-body">

                    <div  class="alert alert-success" *ngFor="let singlechat of recievers"   (click)="goToSingleChat(singlechat.$key)" >
                      <span class="close" (click)="closeNotification(singlechat.$key)">x</span>
                      <h6 class="card-title" style="color: #0c2646">Disaster Alerts</h6>
                      <span style="position: center">Mobile User -> {{singlechat.first_name +' '+ singlechat.last_name}}</span>

                    </div>

                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
