<div class="maincontent">
  <div class="form">


    <div class="tab-content">
      <div id="login1">
        <h1>WELCOME BACK!</h1>

        <form #loginData="ngForm"  (ngSubmit)="onSubmitLoginForm(loginData)" >

          <div class="field-wrap">

            <input type="email" required="required" (ngModel)="email" name="email" placeholder="Email Address*"/>
          </div>

          <div class="field-wrap">

            <input type="password" required="required" autocomplete="off" (ngModel)="password" name="password" placeholder="Password*"/>
          </div>

          <p class="forgot" (click)="setState('forgetPwd')"><a>Forgot Password?</a></p>

          <button class="button button-block" [disabled]="!loginData.valid">LOG IN</button>

        </form>

      </div>

    </div><!-- tab-content -->

  </div> <!-- /form -->


  <div class="sidebar"></div>

  </div>







