<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container">

    <div class="col-sm-6 col-md-6">
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="closeMsg()">
          ×</button>
        <span class="glyphicon glyphicon-record"></span> <strong>Error Message</strong>
        <hr class="message-inner-separator">
        <p>
          Please enter data correctly.</p>
      </div>
    </div>

</div>
