
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger">Disaster Alerts - Disaster Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li  class="nav-item" >
          <a routerLinkActive="active" routerLink="home" class="nav-link js-scroll-trigger" style="font-size: small" >Home</a>
        </li>
        <li  class="nav-item" >
          <a routerLinkActive="active" routerLink="error-message" class="nav-link js-scroll-trigger" style="font-size: small" >Services</a>
        </li>
        <li  class="nav-item" >
          <a  routerLinkActive="active" routerLink="activities" class="nav-link js-scroll-trigger" style="font-size: small">Activities</a>
        </li>
        <li  class="nav-item" >
          <a routerLinkActive="active" routerLink="notification" class="nav-link js-scroll-trigger" style="font-size: small">About</a>
        </li>
        <li class="nav-item" >
          <a routerLinkActive="active" routerLink="contact" class="nav-link js-scroll-trigger" style="font-size: small">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>













