
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger">Disaster Alerts - Disaster Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li  class="nav-item" routerLinkActive="active">
          <a  routerLink="home" class="nav-link js-scroll-trigger" >Home</a>
        </li>
        <li  class="nav-item" routerLinkActive="active">
          <a routerLink="error-message" class="nav-link js-scroll-trigger" >Services</a>
        </li>
        <li  class="nav-item" routerLinkActive="active">
          <a routerLink="activities" class="nav-link js-scroll-trigger">Activities</a>
        </li>
        <li  class="nav-item" routerLinkActive="active">
          <a routerLink="about" class="nav-link js-scroll-trigger" >About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="contact" class="nav-link js-scroll-trigger" >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>











